.Merchant {
    flex: 1 1 140px;
    max-width: 120px;
    min-width: 120px;

    margin: 10px;
    padding: 10px 10px;
    border-radius: 1em;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.418) ;
}

.Merchant p {
    margin: 5px;
}