.Header {
    text-align: left;
    margin: 0px 0px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.Header img {
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
}

.Header button {
    padding: 14px 18px;
    border: none;
    border-radius: 14px;

    background: var(--google-blue);
    color: black;

    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    transition: 0.2s;
}

.Header button:hover {
    background: #3367d6;
}